{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

{% block title %} 发布博客 {% endblock %}

{% block header_extends %} 

{% endblock %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% block content %}
    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../../static/img/bg-img/49.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>编辑博客</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i> 主页</a></li>
                            <li class="breadcrumb-item active" aria-current="page">编辑博客</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->


    <!-- ##### Archive Post Area Start ##### -->
    <div class="archive-post-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-12">
                    <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">

                        <!-- Single Catagory Post -->
                        <div class="single-catagory-post d-flex flex-wrap">
                            <form action='upload' method="POST" id="upload_blog" name="upload_blog">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label> 文章标题 </label>
                                            <input type="text" name="title" class="form-control" id="name" placeholder="输入文章标题">
                                        </div>
                                    </div>
                                </div>
                                <div class = "row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">文章分类</label>
                                            <select class="form-control" id="exampleFormControlSelect1" name="type">
                                              <option>添加新分类...</option>
                                              <option>教学心得</option>
                                              <option>校园故事</option>
                                              <option>生活记录</option>
                                              <option>课堂实录</option>
                                              <option>旅途风光</option>
                                              <option>国外见闻</option>
                                              <option>学习方法</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea name="editor1" id="editor1" rows="10" cols="80">
                                        
                                        </textarea>
                                        <script>
                                            // Replace the <textarea id="editor1"> with a CKEditor
                                            // instance, using default configuration.
                                            CKEDITOR.replace( 'editor1' );
                                        </script>
                                    </div>
                                    <div class="col-12">
                                        <!-- <button class="btn mag-btn mt-30" onclick="receive()" type="submit">发表</button> -->
                                        <a onclick="receive()" class="btn mag-btn mt-30">发表</a>
                            </form>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script_extends %}
<script>
alert("发布功能正在完善中，敬请期待")
function receive(){
    alert("我们已经收到了您的请求，审核通过后将发布在社区中")
}

function CKupdate(){
    console.log('here')
    for ( instance in CKEDITOR.instances )
        CKEDITOR.instances[instance].updateElement();
}
</script>
{% endblock %}

</html>