{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}

{% block title %}博客列表{% endblock %}
{% block breadcrumb %}

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../../static/img/bg-img/49.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>博客列表</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i> 主页</a></li>
                            <li class="breadcrumb-item active" aria-current="page">博客列表</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->
{% endblock %}


{% block content %}
                <div class="col-12 col-xl-8">
                    <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">

                        <!-- Single Catagory Post -->
                        <div class="single-catagory-post d-flex flex-wrap">

                            <!-- Post Contetnt -->
                            {% for blog in blogs %}

                            <div class="post-content">
                                <div class="post-meta ">
                                    <a href="#">{{ blog.created_time|date:"Y-m-d" }}</a>
                                    <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type}}</a>
                                </div>
                                <a href="{% url 'blog_detail' blog.pk %}" class="post-title">{{ blog.title }}</a>
                                <!-- Post Meta -->
                                <div class="post-meta-2">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>{{ blog.get_read_num }}</a>
                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>{% get_like_count blog %}</a>
                                    <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> {% get_comment_count blog %}</a>
                                </div>
                                    <p>{{ blog.content|truncatechars:120 }}...</p>
                                <hr>
                            </div>
                            {% empty %}
                            <p>-- 暂无博客，敬请期待 --</p>
                            {% endfor %}
                        </div>



                        <!-- Pagination -->
                        <nav>
                            <ul class="pagination">
                                {# 上一页 #}
                                <li class="page-item">
                                {% if page_of_blogs.has_previous %}
                                <a class="page-link" href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <i class="ti-angle-right"></i>
                                </a>
                                {% else %}
                                    <i class="page-link ti-angle-left"></i>
                                {% endif %}
                                    </li>
                                {# 全部页码 #}
                                {% for page_num in page_range %}
                                    {% if page_num == page_of_blogs.number %}
                                        <li class="page-item active"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                                    {% else %}
                                        {% if page_num == '...' %}
                                            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {# 下一页 #}
                                <li class="page-item">
                                    {% if page_of_blogs.has_next %}
                                        <a class="page-link" href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    {% else %}
                                        <i class="page-link ti-angle-right"></i>
                                    {% endif %}
                                </li>


                            </ul>
                        </nav>

                    </div>
                </div>
{% endblock %}