{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
{% if is_teaching_plan %} 教案搜索
{% else %} 课件搜索
{% endif %}
{% endblock %}

{% block header_extends %} {% endblock %}

{% block breadcrumb %}
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i> 主页</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">搜索</a></li>
                            <li class="breadcrumb-item active" aria-current="page">教案搜索</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-12 col-xl-8">
        <!-- About Us Content -->
        <div class="about-us-content bg-white mb-30 p-30 box-shadow">


            <!-- Team Member Area -->
            <div class="section-heading mt-30">
                {% if is_teaching_plan %}
                <h5>教案推荐</h5>
                {% else %}
                <h5>课件推荐</h5>
                {% endif %}
            </div>
            
            <!-- Single Team Member -->
            
            {% for file in files %}
            <div class="single-team-member d-flex align-items-center">
                <div class="team-member-content">
                    <h6>{{file.filename}}</h6>
                    <span>评分:{{file.star}}</span>
                    <span>科目:{{file.subject.type_name}}</span>
                    {% if is_teaching_plan %}
                    <p>{{file.content|truncatechars:120}}</p>
                    <div class="social-followers-info" style="width:18%">
                        <a href="/search/download/teaching_plan/{{file.index}}" class="youtube-subscribers"> 下载</a>
                    </div>
                    {% else %}
                    <div class="social-followers-info" style="width:18%">
                        <a href="/search/download/slide/{{file.index}}" class="youtube-subscribers"> 下载</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <div class="single-team-member d-flex align-items-center">
                <div class="team-member-content">
                    <h6>暂无相关课件</h6>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-5 col-xl-4">
        <div class="sidebar-area bg-white mb-30 box-shadow">
            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                <!-- Social Followers Info -->
                <div class="social-followers-info" style="width:50%">
                    {% if is_teaching_plan %}
                    
                    <a href="#" class="twitter-followers" > 教案</a>
                        {% if subject_name %}
                        <a href="/search/slide/{{subject_name}}" class="youtube-subscribers" > 课件</a>
                        {% else %}
                        <a href="/search/slide/{{query}}" class="youtube-subscribers" > 课件</a>
                        {% endif %}
                    {% else %}
                        {% if subject_name %}
                        <a href="/search/teaching_plan/{{subject_name}}" class="twitter-followers" > 教案</a>
                        {% else %}
                        <a href="/search/teaching_plan/{{query}}" class="twitter-followers" > 教案</a>
                        {% endif %}
                    <a href="#" class="youtube-subscribers" > 课件</a>
                    {% endif %}
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>科目</h5>
                </div>

                <!-- Catagory Widget -->
                <ul class="catagory-widgets">
                    {% for subject in subjects %}
                    {% if is_teaching_plan %}
                    <li><a href="/search/teaching_plan/subject/{{subject.type_name}}"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{subject.type_name}}</span> <span>{{subject.plan_count}}</span></a></li>
                    {% else %}
                    <li><a href="/search/slide/subject/{{subject.type_name}}"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{subject.type_name}}</span> <span>{{subject.slide_count}}</span></a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget">
                <a href="#" class="add-img"><img src="img/bg-img/add2.png" alt=""></a>
            </div>
        </div>
    </div>

{% endblock %}

{% block script_extends %}{% endblock %}

</html>