{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'search_style.css' %}">
    {% block header_extends %}{% endblock %}
</head>

<body>


    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="mag-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="magNav">

                    <!-- Nav brand -->
                    <a href="/" class="nav-brand"><img src="{% static 'logo_v2.jpg' %}" style="height:70px; width:200px" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Nav Content -->
                    <div class="nav-content d-flex align-items-center">
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="{% url 'home' %}">主页</a></li>
                                    <li><a href="/blog">教学博客</a></li>
                                    <li><a href="/contact_us">联系我们</a></li>
                                    {% if user.is_authenticated %}
                                    <li>欢迎您,{{user.username}}</li>
                                    {% else %}
                                    <li><a href="/login">登录</a></li>
                                    {% endif %}
                                    
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <div class="top-meta-data d-flex align-items-center">
                            <!-- Login -->
                            <a href="/login" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a>
                            <!-- Submit Video -->
                            <a href="submit-video.html" class="submit-video"><span><i class="fa fa-cloud-upload"></i></span> <span class="video-text">发布</span></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

{% block breadcrumb %}{% endblock %}


    <!-- ##### Archive Post Area Start ##### -->
    <div class="archive-post-area">
        <div class="container">
            <div class="row justify-content-center">
                {% block content %}{% endblock %}

                {% block sidebar %} {% endblock %}
                
            </div>
        </div>
    </div>
    <!-- ##### Archive Post Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <!-- Logo -->
                        <a href="home" class="foo-logo"><img src="{% static 'logo.png' %}" style="height:150px;width:150px" alt=""></a>
                        <p>我们是tsearcher,致力为老师打造一流的信息交流平台，提供最优质的教育资源</p>
                    </div>
                </div>
                
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">博客</h6>
                        <nav class="footer-widget-nav">
                            <ul>
                                <li><a href="{% url 'blogs_with_type' 3 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>教学心得</a></li>
                                <li><a href="{% url 'blogs_with_type' 4 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>校园故事</a></li>
                                <li><a href="{% url 'blogs_with_type' 5 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>生活记录</a></li>
                                <li><a href="{% url 'blogs_with_type' 6 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>课堂实录</a></li>
                                <li><a href="{% url 'blogs_with_type' 7 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>旅途风光</a></li>
                                <li><a href="{% url 'blogs_with_type' 8 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>国外见闻</a></li>
                                <li><a href="{% url 'blogs_with_type' 9 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>学习方法</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">推荐</h6>
                        <!-- Single Blog Post -->
                        <div class="single-blog-post style-2 d-flex">
                            <div class="post-content">
                                <a href="/blog/2" class="post-title">让孩子学会爱</a>
                                <div class="post-meta d-flex justify-content-between">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 3</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 0</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 0</a>
                                </div>
                            </div>
                        </div>

                        <div class="single-blog-post style-2 d-flex">
                            <div class="post-content">
                                <a href="/blog/4" class="post-title">触景”方能“生情”</a>
                                <div class="post-meta d-flex justify-content-between">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 5</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 0</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">科目</h6>
                        <ul class="footer-tags">
                            {% for subject in subjects %}
                            <li><a href="/search/teaching_plan/subject/{{subject.type_name}}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>{{subject.type_name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    {% block script_extends %}{% endblock %}
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' }"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>