{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Tsearcher-Best tool for teacher</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'search_style.css' %}">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="mag-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="magNav">

                    <!-- Nav brand -->
                    <a href="#" class="nav-brand"><img src="{% static 'logo_v2.jpg' %}" style="height:70px; width:200px" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Nav Content -->
                    <div class="nav-content d-flex align-items-center">
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="{% url 'home' %}">主页</a></li>
                                    <li><a href="/blog">教学博客</a></li>
                                    <li><a href="/contact_us">联系我们</a></li>
                                    {% if request_user.is_authenticated %}
                                    <li>欢迎您,{{request_user.username}}</li>
                                    {% else %}
                                    <li><a href="/login">登录</a></li>
                                    {% endif %}
                                    <!-- <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="archive.html">Archive</a></li>
                                            <li><a href="video-post.html">Single Video Post</a></li>
                                            <li><a href="single-post.html">Single Post</a></li>
                                            <li><a href="contact.html">联系我们</a></li>
                                            <li><a href="submit-video.html">上传教学资源</a></li>
                                            <li><a href="login.html">登录</a></li>
                                        </ul>
                                    </li> -->
                                    
                                    
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <div class="top-meta-data d-flex align-items-center">
                            <!-- Top Search Area -->
                            <!-- <div class="top-search-area">
                                <form action="index.html" method="post">
                                    <input type="search" name="top-search" id="topSearch" placeholder="Search and hit enter...">
                                    <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div> -->
                            <!-- Login -->
                            <a href="/login" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a>
                            <!-- Submit Video -->
                            <a href="{% url 'upload_blog' %}" class="submit-video"><span><i class="fa fa-cloud-upload"></i></span> <span class="video-text">提交作品</span></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <div class="ftco-cover-1 overlay" style="background-image: url('../static/img/depot_hero_1.jpg'); filter: brightness(1)">
        <div class="container" style="min-height: 600px">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-lg-6" style="margin-top:170px">
              <h1 style="color:#fff ; font-size:3.5rem ">Tsearcher</h1>
              <p class="mb-5" style="font-size: 20px; color:#fff">为您筛选最优质的教育资源，让您的教学更上一层楼</p>

              <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                  <div class="searchbar">
                    <input class="search_input" type="text" name=""  placeholder="Search...">
                    <a href="javascript:void(0)" onclick="getText()" class="search_icon"><i class="fas fa-search"></i></a>
                  </div>
                </div>
              </div>
              <!-- <form action="#">
                <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Your tracking number">
                  <input type="submit" class="btn btn-primary text-white px-4" value="Track Now">
                </div>
              </form> -->
            </div>
          </div>
        </div>
      </div>

    <!-- ##### Mag Posts Area Start ##### -->
    <section class="mag-posts-area d-flex flex-wrap">

        <!-- >>>>>>>>>>>>>>>>>>>>
         Post Left Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="post-sidebar-area left-sidebar mt-30 mb-30 bg-white box-shadow">
            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>最热博文</h5>
                </div>

                {% for blog in hotest_blogs %}
                    {% get_comment_count blog as comment_count %}
                    {% get_like_count blog as like_count %}

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <img src="{% static 'img/bg-img/4.jpg'  %}" alt=""> 
                    </div>
                    <div class="post-content">
                        <a href="{% url 'blog_detail' blog.pk %}" class="post-title">{{blog.title}}</a>
                        <div class="post-meta d-flex justify-content-between">
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>{{blog.get_read_num}}</a>
                            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>{{like_count}} </a>
                            <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> {{comment_count}} </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                {% endfor %}
                
            </div>

            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>最新博文</h5>
                </div>

                {% for blog in newest_blogs %}
                    {% get_comment_count blog as comment_count %}
                    {% get_like_count blog as like_count %}

                <!-- Single Blog Post -->
                <div class="single-blog-post d-flex">
                    <div class="post-thumbnail">
                        <img src="{% static 'img/bg-img/4.jpg'  %}" alt=""> 
                    </div>
                    <div class="post-content">
                        <a href="{% url 'blog_detail' blog.pk %}" class="post-title">{{blog.title}}</a>
                        <div class="post-meta d-flex justify-content-between">
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>{{blog.get_read_num}}</a>
                            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>{{like_count}} </a>
                            <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> {{comment_count}} </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                {% endfor %}

            </div>
        </div>

        <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
            <!-- Trending Now Posts Area -->
            <div class="trending-now-posts mb-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>最热公开课</h5>
                </div>

                <div class="trending-post-slides owl-carousel">
                    <!-- Single Trending Post -->
                    <div class="single-trending-post">
                        <img src="{% static 'online-course1.jpg'  %}" style="height:140px; width:230px" alt="">
                        <div class="post-content">
                            <a href="#" class="post-cata">数学</a>
                            <a href="video-post.html" class="post-title">集合专题讲解</a>
                        </div>
                    </div>

                    <!-- Single Trending Post -->
                    <div class="single-trending-post">
                        <img src="{% static 'online-course2.jpg'  %}" style="height:140px; width:230px" alt="">
                        <div class="post-content">
                            <a href="#" class="post-cata">英语</a>
                            <a href="video-post.html" class="post-title">英语语法句型讲解</a>
                        </div>
                    </div>

                    <!-- Single Trending Post -->
                    <div class="single-trending-post">
                        <img src="{% static 'online-course3.jpg'  %}" style="height:140px; width:230px" alt="">
                        <div class="post-content">
                            <a href="#" class="post-cata">物理</a>
                            <a href="video-post.html" class="post-title">机械振动</a>
                        </div>
                    </div>

                    <!-- Single Trending Post -->
                    <div class="single-trending-post">
                        <img src="{% static 'online-course4.png'  %}" style="height:140px; width:230px" alt="">
                        <div class="post-content">
                            <a href="#" class="post-cata">语文</a>
                            <a href="video-post.html" class="post-title">批判性思维训练</a>
                        </div>
                    </div>


                </div>
            </div>

            <!-- Feature Video Posts Area -->
            <div class="feature-video-posts mb-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>探索</h5>
                </div>

                <div class="featured-video-posts">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <!-- Single Featured Post -->
                            <div class="single-featured-post">
                                <!-- Thumbnail -->
                                <div class="post-thumbnail mb-50">
                                    <img src="{% static 'img/bg-img/22.jpg'  %}" alt="">
                                    <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                                </div>
                                <!-- Post Contetnt -->
                                <div class="post-content">
                                    <div class="post-meta">
                                        <a href="#">MAY 8, 2018</a>
                                        <a href="archive.html">lifestyle</a>
                                    </div>
                                    <a href="video-post.html" class="post-title">珠峰日记 揭开登珠峰的心路历程</a>
                                    <p>尼泊尔成熟的商业化模式吸引了国内外不少登山者从尼泊尔攀登珠峰,张翔海就是其中之一

                                            2013年4月18日,在群峰环抱中,张翔海翻越垭口,进入海拔在 5000米 以上的珠峰区域 ,迎接他的是耸立着的大片碑群...</p>
                                </div>
                                <!-- Post Share Area -->
                                <div class="post-share-area d-flex align-items-center justify-content-between">
                                    <!-- Post Meta -->
                                    <div class="post-meta pl-3">
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                        <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 834</a>
                                        <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                    </div>
                                    <!-- Share Info -->
                                    <div class="share-info">
                                        <a href="#" class="sharebtn"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                        <!-- All Share Buttons -->
                                        <div class="all-share-btn d-flex">
                                            <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                            <a href="#" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                            <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-5">
                            <!-- Featured Video Posts Slide -->
                            <div class="featured-video-posts-slide owl-carousel">

                                <div class="single--slide">
                            

                                    

                                   

                                

                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="{% static 'img/bg-img/24.jpg'  %}" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="single-post.html" class="post-title">我在斯里兰卡支教的日子</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                                <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 834</a>
                                                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="{% static 'img/bg-img/25.jpg'  %}" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="single-post.html" class="post-title">睡前书单分享</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 687</a>
                                                <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 434</a>
                                                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 294</a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="{% static 'img/bg-img/26.jpg'  %}" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="single-post.html" class="post-title">让梦想照进现实</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 782</a>
                                                <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 244</a>
                                                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 234</a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post d-flex style-3">
                                        <div class="post-thumbnail">
                                            <img src="{% static 'img/bg-img/27.jpg'  %}" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="single-post.html" class="post-title">肖申克的救赎观后感</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 641</a>
                                                <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 134</a>
                                                <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 233</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Most Viewed Videos -->
            

            <!-- Sports Videos -->
            <div class="sports-videos-area">
                <!-- Section Title -->


                <div class="sports-videos-slides owl-carousel mb-30">
                    

                    <!-- Single Featured Post -->
                    
                </div>

                <div class="row">

                    
                </div>

            </div>
        </div>

        <!-- >>>>>>>>>>>>>>>>>>>>
         Post Right Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->

            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>知名讲师</h5>
                    </div>
                    {% for user in ue %}

    
                    <!-- Single YouTube Channel -->
                    <div class="single-youtube-channel d-flex">
                        <div class="youtube-channel-thumbnail">
                            <img src="{{user.portrait.url}}" alt="">
                        </div>
                        <div class="youtube-channel-content">
                            <a href="single-post.html" class="channel-title">{{user.user.username}}</a>
                            <a href="#" class="btn subscribe-btn"> 关注</a>
                        </div>
                    </div>
                    {% endfor %}
    
                </div>
    
    
            </div>
    </section>
    <!-- ##### Mag Posts Area End ##### -->

<!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <!-- Logo -->
                        <a href="home" class="foo-logo"><img src="{% static 'logo.png' %}" style="height:150px;width:150px" alt=""></a>
                        <p>我们是tsearcher,致力为老师打造一流的信息交流平台，提供最优质的教育资源</p>
                    </div>
                </div>
                
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">Categories</h6>
                        <nav class="footer-widget-nav">
                            <ul>
                                <li><a href="{% url 'blogs_with_type' 3 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>教学心得</a></li>
                                <li><a href="{% url 'blogs_with_type' 4 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>校园故事</a></li>
                                <li><a href="{% url 'blogs_with_type' 5 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>生活记录</a></li>
                                <li><a href="{% url 'blogs_with_type' 6 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>课堂实录</a></li>
                                <li><a href="{% url 'blogs_with_type' 7 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>旅途风光</a></li>
                                <li><a href="{% url 'blogs_with_type' 8 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>国外见闻</a></li>
                                <li><a href="{% url 'blogs_with_type' 9 %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>学习方法</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">Channels</h6>
                        <ul class="footer-tags">
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>语文</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>数学</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>英语</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>政治</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>历史</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>地理</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>生物</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>物理</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>化学</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        
    </footer>
    <!-- ##### Footer Area End ##### -->


    <!-- get search text -->
    <script>
        function getText(){
            var text = document.getElementsByClassName('search_input')[0].value
            console.log(text)
            window.location.href='search/teaching_plan/'+text
            return text
        }
    </script>

    <script>alert("公开课及探索页面功能仍在制作中，敬请期待")</script>

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>